/* src/components/Header.css */
.app-header {
  grid-row: 1; /* A Grid elrendezéshez */
  z-index: 10;
  width: 100%;
  padding: 10px 20px;
  padding-top: calc(10px + env(safe-area-inset-top));
  background-color: var(--app-background-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  height: 20px; width: auto; display: block;
}