/* src/components/Header.css */
.app-header {
  flex-shrink: 0; /* Megakadályozza, hogy a tartalom összenyomja */
  height: 60px; /* Fix magasság */
  padding-top: env(safe-area-inset-top);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--app-background-color);
  border-bottom: 1px solid var(--border-color);
  padding-left: 20px;
  padding-right: 20px;
}
.header-logo {
  height: 20px;
  width: auto;
  display: block;
}